<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Descripción de Imagen</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>CINE CASERO</header>
    <nav class="navbar">
        <div class="container">
        <div class="logo">
          <ul class="nav-links">
             <li><a href="index.html">Inicio</a></li>
              <li><a href="catalogo.html">Catalogo</a></li>
          </ul>
      </div>
    </nav>
    <div class="titulo">
        <ul class="nav-links">
        <li><a href="../views/catalogo.html"><h1>2022</a> - <a href="../views/2023.html">2023</h1></a></li>
        </ul>
    </div>
  <div class="contenedor-imagen">
    <img src="../assets/img/Oppenheimer.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Drama, Historia<br><br>Película sobre el físico J. Robert Oppenheimer y su papel como desarrollador de la bomba atómica. Basada en el libro 'American Prometheus: The Triumph and Tragedy of J. Robert Oppenheimer' de Kai Bird y Martin J. Sherwin.</div>
  </div>
  <div class="contenedor-imagen">
    <img src="../assets/img/Wonka.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Comedia, Familia, Fantasía<br><br>Willy Wonka, repleto de ideas y decidido a cambiar el mundo con un delicioso bocado a la vez, es una prueba de que las mejores cosas de la vida comienzan con un sueño y, si tienes la suerte de conocer a Willy Wonka, todo es posible.</div>
  </div>
  <div class="contenedor-imagen">
    <img src="../assets/img/american fiction.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Comedia, Drama<br><br>El profesor de inglés y escritor Thelonious 'Monk' Ellison escribe una novela satírica bajo seudónimo, con la intención de denunciar la hipocresía de la industria editorial.</div>
  </div>
  <div class="contenedor-imagen">
    <img src="../assets/img/Barbie.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Comedia, Aventura<br><br>Una muñeca que vive en 'Barbieland' es expulsada al mundo real por no ser lo suficientemente perfecta. Basada en la popular muñeca Barbie.</div>
  </div>
  <div class="contenedor-imagen">
    <img src="../assets/img/los asesinos de la luna.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Crimen, Historia, Drama<br><br>Ambientada en la década de 1920 en Oklahoma, cuenta la historia de los asesinatos en serie de miembros de la Nación Osage, un pueblo originario rico en petróleo. Una serie de crímenes brutales que llegaron a conocerse como el Reino del terror.</div>
  </div>
  <div class="contenedor-imagen">
    <img src="../assets/img/trolls 3.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Animación, Familia, Música, Fantasía, Comedia<br><br>Cuando el hermano de Ramón, Floyd, es secuestrado por sus talentos musicales por un par de nefastos villanos que son estrellas del pop, Ramón y Poppy se embarcan en un viaje emocional para reunir a los otros hermanos y rescatar a Floyd de un destino aún peor que la oscuridad de la cultura pop.</div>
  </div>
  <div class="contenedor-imagen">
    <img src="../assets/img/aquaman y el reino perdido.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Acción, Aventura, Fantasía<br><br>Black Manta, todavía impulsado por la necesidad de vengar la muerte de su padre y ejerciendo el poder del mítico Tridente Negro, no se detendrá ante nada para acabar con Aquaman de una vez por todas. Para derrotarlo, Aquaman debe recurrir a su hermano encarcelado Orm, el ex rey de la Atlántida, para forjar una alianza improbable con el fin de salvar al mundo de una destrucción irreversible.</div>
  </div>
  <div class="contenedor-imagen">
    <img src="../assets/img/The Flash.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Acción, Aventura, Ciencia ficción<br><br>Cuando su intento de salvar a su familia altera el futuro sin darse cuenta, Barry Allen queda atrapado en una realidad en la que el general Zod ha regresado y no hay superhéroes a los que recurrir. En última instancia, para salvar el mundo en el que se encuentra y regresar al futuro que conoce, la única esperanza de Barry es escapar de él para salvar su vida. Pero, ¿será suficiente hacer el último sacrificio para reiniciar el universo?</div>
  </div>
  <div class="contenedor-imagen">
    <img src="../assets/img/dejar el mundo atras.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Drama, Misterio, Suspenso, Ciencia ficción<br><br>La escapada de una familia a una lujosa casa de alquiler da un giro siniestro cuando un ciberataque los deja incomunicados... y dos extraños llaman a la puerta.</div>
  </div>
  <div class="contenedor-imagen">
    <img src="../assets/img/mision imposible.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Acción, Suspenso<br><br>Ethan Hunt y su equipo del FMI, se embarcan en su misión más peligrosa hasta la fecha: localizar, antes de que caiga en las manos equivocadas, una nueva y terrorífica arma que amenaza a toda la humanidad. En esta tesitura, y con unas fuerzas oscuras del pasado de Ethan acechando, comienza una carrera mortal alrededor del mundo en la que está en juego el control del futuro y el destino del planeta. Enfrentado a un enemigo misterioso y todopoderoso, Ethan se ve obligado a considerar que nada puede anteponerse a su misión, ni siquiera las vidas de aquellos que más le importan.</div>
  </div>
  <div class="contenedor-imagen">
    <img src="../assets/img/five nights at freddy´s.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Terror, Misterio<br><br>Un guardia de seguridad con problemas comienza a trabajar en Freddy Fazbear's Pizza. Mientras pasa su primera noche en el trabajo, se da cuenta de que el turno de noche en Freddy's no será tan fácil de superar.</div>
  </div>
  <div class="contenedor-imagen">
    <img src="../assets/img/patos.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Animación, Acción, Aventura, Comedia, Familia<br><br>Después de que una familia de patos migratorios aterriza en su estanque con emocionantes historias de lugares remotos, la familia Mallard embarca en un viaje familiar, atravezando la ciudad de Nueva York, con destino a la tropical Jamaica.</div>
  </div>
  <div class="contenedor-imagen">
    <img src="../assets/img/super mario bros.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Animación, Familia, Aventura, Fantasía, Comedia<br><br>Mientras trabaja bajo tierra para arreglar una tubería de agua, los plomeros de Brooklyn Mario y su hermano Luigi son transportados por una misteriosa tubería y llegan a un nuevo mundo mágico. Pero cuando los hermanos se separan, Mario se embarca en una búsqueda épica para encontrar a Luigi. Con la ayuda de un residente del Reino Champiñón, Toad y algo de entrenamiento de la gobernante del Reino Champiñón, la Princesa Peach, Mario conocerá su propio poder.</div>
  </div>
  <div class="contenedor-imagen">
    <img src="../assets/img/indiana jones y el dial del destino.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Aventura, Acción<br><br>El arqueólogo Indiana Jones deberá emprender otra aventura contra el tiempo para intentar recuperar un dial legendario que puede cambiar el curso de la historia. Acompañado por su ahijada, Jones pronto se encuentra enfrentándose a Jürgen Voller, un ex nazi que trabaja para la NASA.</div>
  </div>
  <div class="contenedor-imagen">
    <img src="../assets/img/wish.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Animación, Familia, Fantasía, Aventura<br><br>Asha y una pequeña bola de energía ilimitada llamada Star demuestran que cuando la voluntad de un ser humano valiente se conecta con la magia de las estrellas, pueden suceder cosas maravillosas.</div>
  </div>
  <div class="contenedor-imagen">
    <img src="../assets/img/rapidos y furiosos x.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Acción, Crimen, Suspenso<br><br>A través de varias misiones y contra lo imposible, Dom Toretto y su familia han sido más astutos y más rápidos que todos los enemigos se le han cruzado en su camino. Ahora se enfrentan a su enemigo más letal: una amenaza aterradora que surge de las sombras del pasado que está alimentado de una venganza sangrienta, y está decidido a destruir a su familia y destruir todo, y a cualquier persona, a los que Dom ama.</div>
  </div>
  <div class="contenedor-imagen">
    <img src="../assets/img/reptiles.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Crimen<br><br>Tras el brutal asesinato de un joven agente inmobiliario, un detective empedernido intenta descubrir la verdad en un caso en el que nada es lo que parece y, al hacerlo, desmantela las ilusiones de su propia vida.</div>
  </div>
  <div class="contenedor-imagen">
    <img src="../assets/img/los indestructibles 4.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Acción, Aventura, Suspenso<br><br>Armados con todas las armas que pueden conseguir y las habilidades para usarlas, Los Mercenarios son la última línea de defensa del mundo y el equipo al que se llama cuando todas las demás opciones están descartadas. Pero los nuevos miembros del equipo con nuevos estilos y tácticas le darán a “sangre nueva” un significado completamente nuevo.</div>
  </div>
  <div class="contenedor-imagen">
    <img src="../assets/img/color purpura.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Drama<br><br>Adaptación musical de la novela de Alice Walker sobre las luchas de toda la vida de una mujer afroamericana que vive en el sur a principios del siglo XX.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/calabozos y dragones.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Aventura, Fantasía, Comedia<br><br>Un ladrón encantador y una banda de aventureros inverosímiles emprenden un atraco épico para recuperar una reliquia perdida, pero las cosas salen peligrosamente mal cuando se topan con las personas equivocadas.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/asesino.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Acción, Suspenso, Ciencia ficción, Crimen<br><br>Un hombre muere como parte de un programa militar experimental. Un ex soldado de operaciones encubiertas toma su lugar para encontrar quién lo mató.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/elementos.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Animación, Comedia, Familia, Fantasía, Romance, Aventura<br><br>En una ciudad en la que conviven el fuego, el agua, la tierra y el aire, una joven llena de fuego y un tipo que fluye descubrirán lo mucho que tienen en común.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/tortugas ninja.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Animación, Comedia, Acción, Ciencia ficción<br><br>Después de años de estar protegidos del mundo humano, los hermanos Turtle se propusieron ganarse los corazones de los neoyorquinos y ser aceptados como adolescentes normales a través de actos heroicos. Su nueva amiga April O'Neil los ayuda a enfrentarse a un notorio sindicato del crimen, pero pronto se vuelven locos cuando un ejército de mutantes se desata sobre ellos.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/Agente Fortune El Gran Engaño.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Acción, Suspenso, Comedia, Aventura<br><br>El superespía Orson Fortune debe rastrear y detener la venta de una mortífera tecnología moderna que maneja el multimillonario corredor de armas Greg Simmonds. Para lograrlo, forma equipo con algunos de los mejores operativos del mundo y recluta a la mayor estrella de cine de Hollywood, Danny Francesco para que lo ayuden en su misión encubierta para salvar el mundo.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/la sirenita.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Aventura, Familia, Fantasía, Romance<br><br>Ariel, la más joven de las hijas del rey Tritón y la más desafiante, anhela saber más sobre el mundo más allá del mar y, mientras visita la superficie, se enamora del apuesto príncipe Eric. Con las sirenas prohibidas para interactuar con los humanos, Ariel hace un trato con la malvada bruja del mar, Ursula, que le da la oportunidad de experimentar la vida en la tierra, pero finalmente pone en peligro su vida y la corona de su padre.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/blue beetle.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Acción, Ciencia ficción, Aventura<br><br>Un adolescente mexicano encuentra un escarabajo alienígena que le proporciona una armadura superpoderosa.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/dracula mar de sangre.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Suspenso, Terror<br><br>Basado en un solo capítulo, el Captain's Log, de la clásica novela Drácula de 1897 de Bram Stoker, la historia se desarrolla a bordo de la goleta rusa Demeter, que fue fletada para transportar carga privada (veinticuatro cajas de madera sin marcar) desde Carpatia a Londres. La película detallará los extraños eventos que acontecieron a la tripulación condenada mientras intentan sobrevivir al viaje por el océano, acechados cada noche por una aterradora presencia a bordo del barco. Cuando finalmente llegó cerca del puerto de Whitby, estaba totalmente en ruinas. No había rastro de la tripulación.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/transformers el despetar de las bestias.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Acción, Aventura, Ciencia ficción<br><br>Una aventura alrededor del mundo con los Autobots que introducirá una nueva facción de Transformers - los Maximals - en la batalla existente en la Tierra entre Autobots y Decepticons.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/evil dead el despertar.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Terror, Suspenso<br><br>Beth, cansada de la carretera, hace una visita atrasada a su hermana mayor Ellie, que está criando a tres hijos sola en un pequeño apartamento de Los Ángeles. Pero la reunión de las hermanas se ve interrumpida por el descubrimiento de un libro misterioso en lo profundo de las entrañas del edificio de Ellie que da lugar a demonios que poseen carne y empuja a las hermanas a una batalla primordial por la supervivencia mientras se enfrentan a lo más espantoso. versión de familia imaginable.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/nimona.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Aventura, Animación, Fantasía, Familia<br><br>Un caballero acusado de un terrible crimen le pide ayuda a una adolescente que cambia de forma para demostrar su inocencia. ¿Y si ella fuera el monstruo al que juró destruir?</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/scream 6.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Terror, Crimen, Suspenso<br><br>Sam, Tara, Mindy y Chad quieren tener una vida completamente normal, por ello, después de la masacre final de Ghostface en Woodsboro, deciden mudarse a Nueva York. Todos ellos quieren abandonar esas horribles vivencias que sufrieron en su pequeño pueblo. Sin embargo, no pueden escapar tan fácilmente de sus problemas y les volverá a perseguir, el ya conocido, asesino con una máscara de fantasma. Lo comienzan a ver en el metro, en el supermercado, en medio de la gran ciudad. Sam, Tara, Mindy y Chad no están dispuestos a rendirse y se preparan para acabar con él y volver a vivir en tranquilidad.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/ghosteado.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Acción, Comedia, Romance<br><br>El bonachón Cole se enamora perdidamente de la enigmática Sadie, pero descubre que es una agente secreta. Antes de que puedan decidir tener una segunda cita, Cole y Sadie se ven arrastrados a una aventura internacional para salvar el mundo.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/megalodon 2 el gran abismo.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Acción, Ciencia ficción, Terror<br><br>Un equipo de investigación inicia una misión que va a explorar las profundidades más abismales del mar. Pero su viaje se convierte en caos cuando un malévolo operativo minero amenaza su misión y los obliga a librar una batalla de alto riesgo por la supervivencia. Enfrentados a colosales Megalodones y a implacables saqueadores medioambientales, nuestros héroes deben correr más rápido, ser más astutos y nadar a mayor velocidad que sus despiadados depredadores en una trepidante carrera contra el tiempo.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/hijos de perra.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Comedia, Aventura<br><br>Dicen que el perro es el mejor amigo del hombre, pero ¿qué pasa si el hombre es un completo idiota? En ese caso, quizá sea momento para una dulce revancha al estilo de perruno.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/shazam.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Comedia, Acción, Fantasía<br><br>Billy Batson y sus hermanos adoptivos, que se transforman en superhéroes al decir “¡Shazam!”, se ven obligados a volver a la acción y luchar contra las Hijas de Atlas, a quienes deben evitar que use un arma que podría destruir el mundo.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/Ant-Man and the Wasp Quantumania.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Acción, Aventura, Ciencia ficción<br><br>Los superhéroes Scott Lang y Hope van Dyne regresan para continuar sus aventuras como Ant-Man y Wasp. Con los padres de Hope, Hank Pym y Janet van Dyne, y con la hija de Scott, Cassie Lang, la familia explora el Reino Quántico, interactúa con extrañas criaturas y se embarca en una aventura que los hará ir más allá de lo que creían posible.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/air.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: 	Drama<br><br>La increíble asociación revolucionaria entre el entonces novato Michael Jordan y la incipiente división de baloncesto de Nike, que revolucionó el mundo de los deportes y la cultura contemporánea con la marca Air Jordan.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/The Exorcist.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Terror<br><br>Cuando sus dos hijas son poseídas por un espíritu demoníaco, un padre desesperado busca la ayuda de Chris MacNeil, cuya hija Regan sobrevivió a una posesión similar en la década de 1970.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/el exorcismo del papa.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Terror, Suspenso<br><br>El Padre Gabriele Amorth, Exorcista Principal del Vaticano investiga la terrorífica posesión de un niño y termina descubriendo una conspiración que hace siglos fue encubierta de manera desesperada por el Vaticano.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/kraken y sirenas.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Animación, Familia, Fantasía, Comedia<br><br>Una adolescente tímida descubre que es parte de un legendario linaje real de míticos krakens marinos y que su destino, en las profundidades de los océanos, es más grande de lo que jamás soñó.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/oso vicioso.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Suspenso, Comedia, Crimen<br><br>Sigue a un excéntrico grupo de policías, criminales, turistas y adolescentes en un bosque de Georgia donde un depredador de 500 kilos ha ingerido una cantidad exorbitante de cocaína. Ahora el oso está sediento de sangre, y más cocaína…</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/llaman a la puerta.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Suspenso, Misterio, Terror<br><br>Mientras está de vacaciones en una cabaña remota, una niña y sus padres son tomados como rehenes por cuatro extraños armados que exigen que la familia tome una decisión impensable para evitar el apocalipsis. Con acceso limitado al mundo exterior, la familia debe decidir en qué cree antes de que todo se pierda.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/la monja 2.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Terror, Misterio<br><br>1956 Francia. Un sacerdote es asesinado. Un mal se está extendiendo. La hermana Irene una vez más se encuentra cara a cara con Valak, la monja demonio.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/la noche del demonio.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Terror, Misterio, Suspenso<br><br>Nueve años después, Josh y Renai se han divorciado, Lorraine ha fallecido y Dalton ha ingresado en la universidad. Allí, los demonios del pasado resurgen para atormentarlo mientras, al mismo tiempo, Josh empieza a tener visiones de su padre.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/la puerta secreta.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Fantasía, Aventura, Comedia<br><br>Paul Carpenter se convierte de la noche a la mañana en el nuevo becario de la misteriosa empresa J.W. Wells & Co, compartiendo mesa con la brillante Sophie. Rápidamente, ambos se dan cuenta que su nuevo trabajo es cualquier cosa menos convencional. Mientras Sophie es ascendida al Departamento de Casualidades, el director general de la empresa, Humphrey Wells persuade al joven Paul para que busque el objeto más poderoso y codiciado del mundo: la puerta mágica. Esa oscura y peligrosa misión llevará a Paul a adentrarse en un sinfín de lugares increíbles: Desde las profundidades de un sótano infestado de duendes hasta las alturas del Himalaya. Será en esa búsqueda que Paul se convertirá en un héroe inesperado y deberá salvar al mundo del plan más maléfico y diabólico que jamás haya amenazado la raza humana.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/peter pan y wendy.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Familia, Fantasía, Acción, Aventura<br><br>Wendy Darling una jovencita sin deseos de ir al internado, conoce a Peter Pan, un chico que se niega a crecer. Junto con sus hermanos y la pequeña hada, Tinkerbell, viaja con Peter al mágico mundo de Nunca Jamás. Ahí se enfrenta al temible pirata, Capitán Garfio y se embarca en una emocionante aventura que cambiará su vida para siempre.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/cementerio de mascotas.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Terror, Fantasía<br><br>En 1969, Jud Crandall sueña con dejar atrás Ludlow, Maine, pero pronto descubre siniestros secretos enterrados en su interior y se ve obligado a enfrentarse a una oscura historia familiar que le mantendrá para siempre unido a Ludlow.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/mil uno.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Drama, Crimen<br><br>Inez secuestra a Terry, de seis años, del sistema de servicios sociales. Madre e hijo se propusieron recuperar su hogar, así como su identidad y estabilidad, en la ciudad de Nueva York.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/locas por brady.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Comedia, Drama<br><br>Un cuarteto de mejores amigos mayores decide vivir la vida al máximo haciendo un viaje salvaje al Super Bowl LI para ver jugar a su héroe Tom Brady.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/el club de los asesinos.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Acción, Misterio, Suspenso, Crimen<br><br>Morgan es un asesino a sueldo que está a punto de retirarse cuando le llega un nuevo encargo. Será uno de los siete asesinos a sueldo que deberán luchar entre sí, con una recompensa de 1 millón de dólares por objetivo eliminado. Mientras los otros asesinos lo persiguen, él une fuerzas con Falk, otro de los sicarios, para tratar de averiguar quién los contrató y por qué.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/la sociedad de la nieve.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Drama, Historia<br><br>El 13 de octubre de 1972, el vuelo 571 de la Fuerza Aérea Uruguaya, fletado para llevar a un equipo de rugby a Chile, se estrella en un glaciar en el corazón de los Andes.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/estrellas fugases.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Drama, Historia<br><br>La inspiradora historia de origen de un superhéroe del baloncesto, que revela cómo LeBron James y sus amigos de la infancia se convierten en el equipo de secundaria número 1 del país, lanzando la impresionante carrera de James como cuatro veces campeón de la NBA, dos veces medallista de oro olímpico y el mejor jugador de la NBA. -Tiempo máximo goleador.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/genie.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Fantasía, Comedia<br><br>Un hombre adicto al trabajo solicita la ayuda de un genio mágico para recuperar a su familia antes de Navidad.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/hay algo mal con los niños.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Terror, Misterio, Suspenso<br><br>Una familia hace un viaje de fin de semana con amigos de toda la vida y sus dos hijos pequeños, pero sospechan algo sobrenatural cuando los niños se comportan de manera extraña después de desaparecer en el bosque durante la noche.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/vida adulta.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Drama, Comedia<br><br>Vida Adulta cuenta la historia de Eric, que regresa a su ciudad natal para visitar a sus hermanas, pero su plan de acortar el viaje empieza a desmoronarse ya que encuentra nuevas salidas para su adicción al póquer. Mientras permanece en la ciudad, Eric pasa el tan prometido tiempo de calidad con sus hermanas y se ve obligado a confrontar cómo las relaciones de la infancia no siempre se traducen en vínculos adultos.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/liga de la justicia.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Animación, Acción, Ciencia ficción, Aventura<br><br>Warworld, un lugar de interminables y brutales combates de gladiadores, Batman, Superman, Wonder Woman y otros deben unirse para formar una resistencia imbatible que lleve a todo el planeta a la libertad.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/maboroshi.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Animación, Drama, Romance, Fantasía<br><br>Tras una explosión en una fábrica, un pequeño pueblo queda sumido en un invierno eterno. Masamune, de 14 años, y sus amigas deben lidiar con una realidad al borde del colapso.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/crater.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Ciencia ficción, Acción, Aventura, Familia<br><br>Caleb Channing fue criado en una colonia minera en la luna y está a punto de ser trasladado a un idílico planeta lejano después de la muerte de su padre. Antes de irse, para cumplir el último deseo de su papá, él y sus tres mejores amigos, Dylan, Borney y Marcus, y la recién llegada de la Tierra, Addison, roban un vehículo para una última aventura en donde explorarán el misterioso cráter.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/aporia.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Ciencia ficción, Drama<br><br>Desde que perdió a su marido, Sophie ha luchado por manejar el dolor, un trabajo de tiempo completo y criar a su hija devastada, pero cuando un ex físico revela una máquina secreta que dobla el tiempo, Sophie se enfrentará a una elección imposible.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/oracle.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Terror<br><br>Una joven acepta un trabajo en una propiedad con un pasado traumático. A su llegada, pronto se da cuenta de que las pesadillas de su infancia están conectadas con el mal en la casa.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/pacto de graduacion.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Romance, Comedia<br><br>Se acerca la graduación, y la estudiante de último curso, Mandy, y su mejor amigo, el también marginado Ben, están rodeados de propuestas de graduación exageradas. Mandy solo piensa en entrar en la universidad de sus sueños, Harvard, pero cuando empieza a dar clases particulares a Graham, una estrella del baloncesto, debe replantearse si la universidad de sus sueños merece la pena a costa de todo aquello en lo que cree.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/sweetwater.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Drama, Historia<br><br>En el otoño de 1950, Nat "Sweetwater" Clifton cambió para siempre el baloncesto cuando ingresó a la NBA. La historia del primer afroamericano en conseguir un contrato para jugar en la NBA.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/sly.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Documental<br><br>Su amor por el cine nació como vía de escape de una infancia difícil. En este documental, Sylvester Stallone cuenta su vida desde la precariedad hasta ser una leyenda de Hollywood.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/legion de super heroes.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: 	Animación, Acción, Ciencia ficción<br><br>Kara, devastada por la pérdida de Krypton, lucha por adaptarse a su nueva vida en la Tierra. Superman la asesora. Mientras tanto, debe enfrentarse a un grupo misterioso llamado Dark Circle que busca un arma poderosa guardada en la bóveda de la Academia.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/david holmes.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Documental<br><br>Como doble de Daniel Radcliffe en las películas de Harry Potter, el trabajo de David Holmes ha sido visto por millones de personas en todo el mundo. Trágicamente, un accidente en el set acabó con lo que David llama “el mejor trabajo del mundo”, dejándolo paralizado y confinado a una silla de ruedas. Al igual que el personaje en pantalla que ayudó a dar vida, David está decidido a seguir buscando aventuras y vivir la vida al máximo a pesar de los obstáculos crecientes.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/que se besen.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Romance, Comedia<br><br>Convencido de su poder de cautivar a cualquier mujer, un empedernido seductor fija sus ojos en la obstinada novia del hijo de un político.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/pequeña dixi.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Acción, Crimen, Suspenso, Drama<br><br>Doc facilita una frágil tregua entre el Gobernador y un cartel, intercambiando indulgencia fiscal por finanzas. Cuando esta tregua se disuelve, Doc debe valerse por sí mismo y proteger lo único inmaculado en su vida: su hija, Little Dixie.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/metalocalypse.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Animación, Comedia, Música<br><br>¿Podrá Dethklok elegir entre sus egos y el bien mayor del mundo para embarcarse en una prueba de peligros que pondrá a prueba sus propias almas y escribir finalmente la canción que será su salvación?</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/doble vida.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Misterio, Suspenso, Drama<br><br>Una viuda se entera por la amante de su difunto esposo que su muerte no fue un accidente. Ambas mujeres trabajan juntas para desenmascarar la verdad detrás del hombre que ambas amaban.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/puedes hacerlo chang.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Familia, Comedia, Drama<br><br>Chang, un estadounidense de ascendencia asiática de 16 años que mide 1.70 m, le apuesta a la estrella del básquet de su escuela que hará una volcada antes del partido de bienvenida. Chang se embarca en una aventura para lograr la proeza, no solo para impresionar a la chica que le gusta, Kristy, sino también para ganarse el respeto de sus compañeros de colegio. Pero antes de dar el salto a la gloria, tendrá que replantearse todo lo que conoce de sí mismo, de sus amigos y de su familia.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/como dios manda.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Comedia<br><br>Andrés Cuadrado es un estricto funcionario del Ministerio de Hacienda. Se considera ante todo una “persona como Dios manda” y da por sentado que todo responde a un orden natural, jerárquico e inamovible. Tras un desafortunado enfrentamiento con una compañera de trabajo, es sancionado y trasladado a Igualdad, donde todo es nuevo para él. Allí tendrá que ponerse al día para poder adaptarse a ese nuevo orden de las cosas.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/viernes negro.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: 	Terror, Misterio, Suspenso<br><br>Después de que un disturbio termina en tragedia en el Viernes Negro, un misterioso asesino inspirado en el Día de Acción de Gracias aterroriza Plymouth Massachusetts  el lugar donde nació esa festividad (norteamericana).</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/los juegos del hambre.avif" alt="Descripción de la imagen">
    <div class="descripcion">Drama, Ciencia ficción, Acción<br><br>Años antes de convertirse en el tiránico Presidente de Panem, el Coriolanus Snow de 18 años es la última esperanza de su desvaneciente linaje, la una vez orgullosa familia que había caído en desgracia en un Capitolio post-guerra. Con los décimos Juegos del Hambre aproximándose rápidamente, el joven Snow se sorprende cuando es asignado como mentor de Lucy Gray Baird, la niña tributo del empobrecido Distrito 12. Pero luego de que Lucy Gray consigue toda la atención de Panem al cantar desafiante durante la ceremonia de la cosecha, Snow piensa que podría dar vuelta su suerte. Uniendo sus instintos de espectáculo y de encontrada astucia política, la carrera de Snow y Lucy Gray para sobrevivir revelerá quién es un pájaro cantor, y quién es una víbora.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/saw X.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Terror, Suspenso<br><br>Entre los acontecimientos de 'Saw' y 'Saw II', un enfermo y desesperado John Kramer viaja a México para someterse a un procedimiento médico arriesgado y experimental con la esperanza de encontrar una cura milagrosa para su cáncer, sólo para descubrir que toda la operación es una estafa para defraudar. los más vulnerables. Armado con un nuevo propósito, el infame asesino en serie regresa a su trabajo, dándole la vuelta a los estafadores en su forma visceral característica a través de trampas tortuosas, trastornadas e ingeniosas.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/cerrar los ojos.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Drama, Misterio<br><br>Años después de su misteriosa desaparición, Julio Arenas, un famoso actor español, vuelve a ser noticia gracias a un programa de televisión.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/caceria en venecia.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Misterio, Suspenso, Crimen<br><br>En la Venecia posterior a la Segunda Guerra Mundial, Poirot, ahora retirado y viviendo en su propio exilio, asiste a regañadientes a una sesión de espiritismo, cuando uno de los invitados es asesinado, por lo que depende del ex detective descubrir una vez más al asesino.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/hazme el favor.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Comedia, Romance<br><br>A punto de perder la casa en la que creció, Maddie descubre un intrigante anuncio clasificado de un trabajo: padres helicóptero millonarios buscan a alguien para poder “salir” con su hijo introvertido de 19 años, Percy, antes de que se vaya a la universidad. Para su sorpresa, Maddie, pronto descubre que el extraño Percy no es una cosa segura.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/spider man.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Animación, Acción, Aventura, Ciencia ficción<br><br>Después de reunirse con Gwen Stacy, Miles Morales, el amigable Spider-Man del vecindario de tiempo completo de Brooklyn, es catapultado a través del Multiverso, donde se encuentra con un equipo de Spider-People encargado de proteger su existencia. Pero cuando los héroes chocan sobre cómo manejar una nueva amenaza, Miles se enfrenta a las otras arañas y debe redefinir lo que significa ser un héroe para poder salvar a las personas que más ama.</div>
  </div><div class="contenedor-imagen">
    <img src="../assets/img/guardianes de la galaxia.avif" alt="Descripción de la imagen">
    <div class="descripcion">Genero: Ciencia ficción, Aventura, Acción<br><br>Peter Quill, aún conmocionado por la pérdida de Gamora, debe reunir a su equipo en torno a él para defender el universo junto con la protección de uno de los suyos. Una misión que, si no se lleva a cabo con éxito, podría suponer el fin de los Guardianes tal y como los conocemos.</div>
  </div><div class="contenedor-imagen">
      <img src="../assets/img/renfield.avif" alt="Descripción de la imagen">
      <div class="descripcion">Genero: Comedia, Terror, Fantasía<br><br>En esta moderna historia de monstruos acerca del leal sirviente de Drácula, Renfield se ve obligado a procurar la presa de su amo y cumplir todas sus órdenes, sin importar cuán retorcidas sean. Pero ahora, después de siglos de servirle, Renfield está listo para comprobar si hay vida fuera de la sombra del Príncipe de las Tinieblas. Si tan solo pudiera descubrir cómo terminar con su codependencia.</div>
    </div><div class="contenedor-imagen">
      <img src="../assets/img/65.avif" alt="Descripción de la imagen">
      <div class="descripcion">Genero: Ciencia ficción, Acción, Aventura<br><br>Después de un catastrófico accidente en un planeta desconocido, el piloto Mills descubre rápidamente que realmente está varado en la Tierra… hace 65 millones de años. Ahora, con solo una oportunidad de rescate, Mills y la otra única superviviente, Koa, deberán abrirse camino a través del desconocido territorio plagado con peligrosas criaturas prehistóricas en una épica lucha por sobrevivir.</div>
    </div><div class="contenedor-imagen">
      <img src="../assets/img/john wick.avif" alt="Descripción de la imagen">
      <div class="descripcion">Genero: Acción, Suspenso, Crimen<br><br>John Wick descubre un camino para derrotar a La Mesa. Pero antes de poder ganar su libertad, Wick deberá enfrentarse a un nuevo enemigo con poderosas alianzas en todo el mundo; y contra las fuerzas que convierten a viejos amigos en enemigos.</div>
    </div><div class="contenedor-imagen">
      <img src="../assets/img/creed 3.avif" alt="Descripción de la imagen">
      <div class="descripcion">Genero: Drama, Acción<br><br>Adonis Creed ya ha llegado a la cima de su carrera y no tiene nada más que demostrar en el mundo del boxeo. Convertido en un ídolo de este boxeo pasa sus días rodeado de su familia y seres queridos. Sin embargo, todo cambiará cuando regrese un fantasma de su infancia. Su amigo de juventud, Damián, acaba de salir de la cárcel y desea demostrar todo lo que ha aprendido de boxeo estos años. Por ello, querrá enfrentarse en el cuadrilátero con su antiguo amigo. Adonis Creed tendrá que enfrentarse a este adversario, que no solo quiere quitarle su título de boxeador, sino que desea acabar con él.</div>
    </div><div class="contenedor-imagen">
      <img src="../assets/img/la niña de la comunicacion.avif" alt="Descripción de la imagen">
      <div class="descripcion">Genero: Terror<br><br>Finales de los 80, en un pueblo no determinado. Sara acaba de llegar al pueblo y no encuentra su lugar en ese espacio cerrado. Su mejor amiga es Rebe, mucho más extrovertida. Una noche van a una discoteca, toman drogas y durante el trayecto a casa encontrarán una muñeca vestida de comunión. A partir de ese momento, comenzará la pesadilla.</div>
    </div><div class="contenedor-imagen">
      <img src="../assets/img/dias perfectos.avif" alt="Descripción de la imagen">
      <div class="descripcion">Genero: Drama<br><br>Hirayama está contento con su vida como limpiador de baños en Tokio. Fuera de su rutina estructurada, le encanta la música en cintas de casete, los libros y tomar fotografías de árboles. A través de encuentros inesperados, reflexiona sobre cómo encontrar la belleza en el mundo.</div>
    </div><div class="contenedor-imagen">
      <img src="../assets/img/pobres criaturas.avif" alt="Descripción de la imagen">
      <div class="descripcion">Genero: Ciencia ficción, Romance, Comedia<br><br>Bella Baxter es una joven revivida por el brillante y poco ortodoxo científico Dr. Godwin Baxter. Bajo la protección de Baxter, Bella está ansiosa por aprender. Hambrienta de la mundanidad que le falta, Bella se escapa con Duncan Wedderburn, un sofisticado y perverso abogado, en una aventura vertiginosa a través de los continentes. Libre de los prejuicios de su época, Bella se vuelve firme en su propósito de defender la igualdad y la liberación.</div>
    </div><div class="contenedor-imagen">
      <img src="../assets/img/el bastardo.avif" alt="Descripción de la imagen">
      <div class="descripcion">Genero: Historia, Drama<br><br>Siglo XVIII. El rey danés Frederik V declaró que los páramos salvajes de Jutlandia deberían ser colonizados y cultivados para que la civilización pudiera extenderse y generar nuevos impuestos para la casa real. Sin embargo, nadie se atrevió a seguir el decreto del rey. Esa tierra significaba muerte: un lugar lleno de lobos hambrientos y castigado por una naturaleza brutal e implacable. Pero a finales del verano de 1755, un soldado solitario llamado Ludvig Kahlen decidió que esos páramos le proporcionarían la riqueza y el honor que había deseado siempre.</div>
    </div><div class="contenedor-imagen">
      <img src="../assets/img/el niño y la garza.avif" alt="Descripción de la imagen">
      <div class="descripcion">Genero: Animación, Aventura, Fantasía<br><br>Mientras la Segunda Guerra Mundial hace estragos, el adolescente Mahito, atormentado por la trágica muerte de su madre, es trasladado de Tokio a la serena casa rural de su nueva madrastra Natsuko, una mujer que tiene un sorprendente parecido con la madre del niño. Mientras intenta adaptarse, este nuevo y extraño mundo se vuelve aún más extraño tras la aparición de una persistente garza real, que deja perplejo y atormenta a Mahito, llamándolo "el tan esperado".</div>
    </div><div class="contenedor-imagen">
      <img src="../assets/img/mi amigo robor.avif" alt="Descripción de la imagen">
      <div class="descripcion">Genero: Animación, Comedia, Drama, Familia<br><br>PERRO vive en Manhattan y está cansado de estar solo. Un día decide construirse un robot, un compañero. Su amistad florece, hasta volverse inseparables, al ritmo del Nueva York de los 80. Una noche de verano, PERRO, con gran tristeza, se ve obligado a abandonar al ROBOT en la playa. ¿Se volverán a encontrar alguna vez?</div>
    </div><div class="contenedor-imagen">
      <img src="../assets/img/resistencia.avif" alt="Descripción de la imagen">
      <div class="descripcion">Genero: Acción, Aventura, Ciencia ficción<br><br>En medio de una futura guerra entre la raza humana y las fuerzas de la inteligencia artificial, Joshua, un curtido ex agente de las fuerzas especiales que sufre por la desaparición de su esposa, es reclutado para cazar y matar al Creador, el arquitecto de IA avanzada que ha desarrollado un arma misteriosa con el poder de poner fin a la guerra, e incluso a toda la humanidad. Joshua y su equipo de agentes de élite viajan a través de las líneas enemigas hasta el corazón oscuro del territorio ocupado por la IA. Una vez allí, descubren que el arma que acabará con el mundo y que les han ordenado destruir es una IA que ha adoptado la forma de una niña pequeña.</div>
    </div><div class="contenedor-imagen">
      <img src="../assets/img/vidas pasadas.avif" alt="Descripción de la imagen">
      <div class="descripcion">Genero: Drama, Romance<br><br>La familia de Nora emigra a Canadá cuando ella tiene 10 años. Pierde el contacto con su amor de la infancia. Muchos años después, cuando Nora está estudiando teatro en Nueva York, se reencuentra con él online.</div>
    </div><div class="contenedor-imagen">
      <img src="../assets/img/anatomia de una caida.avif" alt="Descripción de la imagen">
      <div class="descripcion">Genero: Suspenso, Misterio, Crimen<br><br>Sandra, una escritora alemana, vive con su marido Samuel y su hijo ciego, Daniel, en un chalé en medio de los Alpes franceses. Cuando Samuel fallece en misteriosas circunstancias, la investigación no puede determinar si se trata de un suicidio o de un homicidio. Sandra es arrestada y juzgada por asesinato, y el proceso pone su tumultuosa relación y su ambigua personalidad en el punto de mira</div>
    </div><div class="contenedor-imagen">
      <img src="../assets/img/hablame.avif" alt="Descripción de la imagen">
      <div class="descripcion">Genero: Terror, Suspenso<br><br>La solitaria adolescente Mia se engancha a la emoción de invocar espíritus utilizando una mano embalsamada, pero cuando se enfrenta a un alma que dice ser su madre muerta, desata una plaga de fuerzas sobrenaturales y se debate entre decidir en quién puede confiar: en los vivos o en los muertos.</div>
    </div><div class="contenedor-imagen">
      <img src="../assets/img/godzilla.avif" alt="Descripción de la imagen">
      <div class="descripcion">Genero: Ciencia ficción, Terror, Acción<br><br>En el Japón de la posguerra surge un nuevo terror. ¿Podrán sobrevivir las personas devastadas... y mucho menos defenderse?</div>
    </div><div class="contenedor-imagen">
      <img src="../assets/img/Gran Turismo.avif" alt="Descripción de la imagen">
      <div class="descripcion">Genero: Aventura, Acción, Drama<br><br>Basada en una historia real, la película cuenta cómo cumplió su sueño un adolescente que jugaba a Gran Turismo, juego en el que ganó una serie de competiciones patrocinadas por Nissan, y que le sirvió de trampolín para acabar convirtiéndose en un piloto de carreras profesional.</div>
    </div><div class="contenedor-imagen">
      <img src="../assets/img/napoleon.avif" alt="Descripción de la imagen">
      <div class="descripcion">Genero: Drama, Historia, Guerra<br><br>Una mirada personal a los orígenes del líder militar francés y su rápido y despiadado ascenso a emperador. La historia se ve a través de la lente de la relación adictiva y volátil de Napoleón Bonaparte con su esposa y único amor verdadero, Josefina.</div>
    </div><div class="contenedor-imagen">
      <img src="../assets/img/operacion napoleon.avif" alt="Descripción de la imagen">
      <div class="descripcion">Genero: Suspenso<br><br>Una abogada se involucró en una conspiración internacional después de ser acusada de un asesinato que no cometió. La única posibilidad de supervivencia radica en descubrir el secreto de un viejo avión alemán de la Segunda Guerra Mundial, descubierto en el glaciar más grande de Islandia.</div>
    </div><div class="contenedor-imagen">
      <img src="../assets/img/rebel moon.avif" alt="Descripción de la imagen">
      <div class="descripcion">Genero: Ciencia ficción, Drama, Acción<br><br>Cuando una colonia pacífica en el borde de la galaxia se ve amenazada por los ejércitos del tiránico soberano llamado Balisarius, la gente desesperada envía a una joven con un pasado misterioso a buscar guerreros de los planetas vecinos para ayudarlos a resistir.</div>
    </div><div class="contenedor-imagen">
      <img src="../assets/img/The Marvels.avif" alt="Descripción de la imagen">
      <div class="descripcion">Genero: Ciencia ficción, Aventura, Acción<br><br>Cuando sus deberes llevan a Carol Danvers, alias Capitana Marvel, a un agujero de gusano anómalo vinculado a un revolucionario Kree, sus poderes se enredan con los de Ms. Marvel y con los de Monica Rambeau, la distanciada sobrina de Carol y astronauta de S.A.B.E.R. Juntas, deberán trabajar en sincronía para salvar al universo como "The Marvels".</div>
    </div><div class="contenedor-imagen">
      <img src="../assets/img/el justiciero capitulo final.avif" alt="Descripción de la imagen">
      <div class="descripcion">Genero: Acción, Suspenso, Crimen<br><br>Tercera parte de la saga que gira en torno al personaje del misterioso Robert McCall (Denzel Washington), un antiguo marine y ex agente de la Agencia de Inteligencia de Defensa que fingió su muerte para intentar comenzar de nuevo lejos de la acción, pero que termina recurriendo a sus habilidades para proteger a ciertas personas durante su retiro.</div>
    </div><div class="contenedor-imagen">
      <img src="../assets/img/mision de rescate 2.avif" alt="Descripción de la imagen">
      <div class="descripcion">Genero: Acción, Suspenso<br><br>Después de sobrevivir a todo lo que le sucede en la primera película, Rake regresa como mercenario australiano de operaciones encubiertas al que se encomienda otra misión suicida: rescatar a la maltrecha familia de un despiadado gángster georgiano de la prisión donde se encuentra recluida.</div>
    </div><div class="contenedor-imagen">
      <img src="../assets/img/la hija del prisionero.avif" alt="Descripción de la imagen">
      <div class="descripcion">Genero: Drama, Misterio, Suspenso<br><br>Un convicto moribundo (Brian Cox) es excarcelado e intenta retomar la relación con su hija (Kate Beckinsale) y el nieto al que nunca conoció, pero su violento pasado vuelve para perseguirlos a todos.</div>
    </div> 
    <div class="contenedor-imagen">
      <img src="../assets/img/garra de hierro.avif" alt="Descripción de la imagen">
      <div class="descripcion">Genero: Drama, Historia<br><br>Sigue la historia de los Von Erich, una dinastía de luchadores que tuvo un gran impacto en el deporte desde la década de 1960 hasta la actualidad.</div>
    </div> 
    <div class="contenedor-imagen">
      <img src="../assets/img/el club de las peleadoras.avif" alt="Descripción de la imagen">
      <div class="descripcion">Genero: Comedia<br><br>Los impopulares mejores amigos PJ y Josie inician un club de autodefensa en la escuela secundaria para conocer chicas y perder su virginidad. Pronto se encuentran en una situación complicada cuando los estudiantes más populares comienzan a golpearse entre sí en nombre de la autodefensa.</div>
    </div> 
    <footer>
      <h5>derechos de autor&copy 2024</h5>
  </footer>
</body>
</html>
  
  