<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cine Casero</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>CINE CASERO</header>
    <nav class="navbar">
        <div class="container">
        <div class="logo">
          <ul class="nav-links">
             <li><a href="index.html">Inicio</a></li>
              <li><a href="catalogo.html">Catalogo</a></li>
          </ul>
      </div>
    </nav>
    <section>
        <header>Peliculas Destacadas</header>
        <br>
        <div class="horizontal">
            
            <div class="card">
            <center><h1>SCREAM</h1></center>
            <img src="../assets/img/scream.avif" alt="Imagen de la tarjeta">
            <div class="card-content">
              <a href="../views/catalogo.html">Ir al catalogo</a>
            </div>
          </div>
          <div class="card">
            <center><h1>EL PEOR VECINO DEL MUNDO</h1></center>
            <img src="../assets/img/un vecino gruñon.avif" alt="Imagen de la tarjeta">
            <div class="card-content">
              <a href="../views/catalogo.html">Ir al catalogo</a>
            </div>
          </div>
          <div class="card">
            <center><h1>MORBIUS</h1></center>
            <img src="../assets/img/morbius.avif" alt="Imagen de la tarjeta">
            <div class="card-content">
              <a href="../views/catalogo.html">Ir al catalogo</a>
            </div>
          </div>
          <div class="card">
            <center><h1>UNCHARTED FUERA DEL MAPA</h1></center>
            <img src="../assets/img/uncharted.avif" alt="Imagen de la tarjeta">
            <div class="card-content">
              <a href="../views/catalogo.html">Ir al catalogo</a>
            </div>
          </div>
          <div class="card">
            <center><h1>OPPENHEIMER</h1></center>
            <img src="../assets/img/Oppenheimer.avif" alt="Imagen de la tarjeta">
            <div class="card-content">
              <a href="../views/catalogo.html">Ir al catalogo</a>
            </div>
          </div>
          <div class="card">
            <center><h1>TREN BALA</h1></center>
            <img src="../assets/img/tren bala.avif" alt="Imagen de la tarjeta">
            <div class="card-content">
              <a href="../views/catalogo.html">Ir al catalogo</a>
            </div>
          </div>
          <div class="card">
            <center><h1>LA CIUDAD PERDIDA</h1></center>
            <img src="../assets/img/la ciudad perdida.avif" alt="Imagen de la tarjeta">
            <div class="card-content">
              <a href="../views/catalogo.html">Ir al catalogo</a>
            </div>
          </div>
          <div class="card">
            <center><h1>WONKA</h1></center>
            <img src="../assets/img/Wonka.avif" alt="Imagen de la tarjeta">
            <div class="card-content">
              <a href="../views/catalogo.html">Ir al catalogo</a>
            </div>
          </div>
          <div class="card">
            <center><h1>BATMAN</h1></center>
            <img src="../assets/img/the batman.avif" alt="Imagen de la tarjeta">
            <div class="card-content">
              <a href="../views/catalogo.html">Ir al catalogo</a>
            </div>
          </div>
          <div class="card">
            <center><h1>UNCHARTED</h1></center>
            <img src="../assets/img/uncharted.avif" alt="Imagen de la tarjeta">
            <div class="card-content">
              <a href="../views/catalogo.html">Ir al catalogo</a>
            </div>
          </div>
          <div class="card">
            <center><h1>RAPIDOS Y FURIOSO X</h1></center>
            <img src="../assets/img/rapidos y furiosos x.avif" alt="Imagen de la tarjeta">
            <div class="card-content">
              <a href="../views/catalogo.html">Ir al catalogo</a>
            </div>
          </div>
          <div class="card">
            <center><h1>BLUE BEETLE</h1></center>
            <img src="../assets/img/blue beetle.avif" alt="Imagen de la tarjeta">
            <div class="card-content">
              <a href="../views/catalogo.html">Ir al catalogo</a>
            </div>
          </div>
        </div>
      </section>
    <footer>
        <h5>derechos de autor&copy 2024</h5>
    </footer>
</body>
</html>